html, body {
  color:black;
  background-color: #FAFAFA;
}
p {
	padding: 10px;
}
.site-text {
	font-size:1.5em !important;
}
.poem {
	font-size: 20px;
}
a {
	text-decoration: none;
	color: #00a8ff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}